In [1]:
import numpy as np
import  pandas as pd

In [7]:
df=pd.read_csv('job-analysis.csv')
df.head(3)

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.0,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.0,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.0,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB

In [16]:
df= df[['Title','Job.Description']]

In [18]:
df.head(3)

,Title,Job.Description
0,Server @ Tacolicious,Tacolicious' first Palo Alto store just opened...
1,Kitchen Staff/Chef @ Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,Bartender @ Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...

In [28]:
df['Title']

0                                     Server @ Tacolicious
1                         Kitchen Staff/Chef @ Claude Lane
2                     Bartender @ Machka Restaurants Corp.
3                                  Server @ Teriyaki House
4              Kitchen Staff/Chef @ Rosa Mexicano - Sunset
                               ...
84085    Book Keeper @ National Japanese American Histo...
84086                   Kitchen Staff/Chef @ Emporio Rulli
84087                                    Driver @ Onigilly
84088                 Line Cook @ Machka Restaurants Corp.
84089                           Cashier @ Kazoo Restaurant
Name: Title, Length: 84090, dtype: object

In [24]:
df['Job.Description']

' \r\n\r\nNew French Brasserie in S.F. Financial District Seeks Chef\r\nWe are seeking an energetic, dynamic chef to take charge and grow with our company. Our ideal candidate is a motivated self-starter, has a great work ethic and is ready for the challenge of building their own team with executive support. \r\n\r\nThis position is a perfect fit for a talented chef ready to take the next step, someone who can multi task in a high volume kitchen and has exceptional organizational skills. Position requirements are experience with French cuisine, a minimum of 5 years as a sous chef in high volume, full service restaurant. He or she must be a team player, leading by example and working side by side with other members of the team. \r\n\r\nComputer and management skills are a must, as are experience in ordering, inventory and cost control. The right candidate will have previously demonstrated an understanding of leadership and accountability, and an infectious, energetic approach to problem solving and facing challenges. \r\n\r\nWe are an equal opportunity employer. Qualified applicants are considered for employment without regard to age, race, religion, sex, national origin, sexual orientation, disability, or veteran status. \r\n'

In [30]:
df['Title'][1]

'Kitchen Staff/Chef @ Claude Lane'

In [32]:
df['Job.Description'][1]

' \r\n\r\nNew French Brasserie in S.F. Financial District Seeks Chef\r\nWe are seeking an energetic, dynamic chef to take charge and grow with our company. Our ideal candidate is a motivated self-starter, has a great work ethic and is ready for the challenge of building their own team with executive support. \r\n\r\nThis position is a perfect fit for a talented chef ready to take the next step, someone who can multi task in a high volume kitchen and has exceptional organizational skills. Position requirements are experience with French cuisine, a minimum of 5 years as a sous chef in high volume, full service restaurant. He or she must be a team player, leading by example and working side by side with other members of the team. \r\n\r\nComputer and management skills are a must, as are experience in ordering, inventory and cost control. The right candidate will have previously demonstrated an understanding of leadership and accountability, and an infectious, energetic approach to problem solving and facing challenges. \r\n\r\nWe are an equal opportunity employer. Qualified applicants are considered for employment without regard to age, race, religion, sex, national origin, sexual orientation, disability, or veteran status. \r\n'

In [103]:
# to focus on lesser data that is 1000 jobs
#optional step
df =df.sample(n=1000,random_state=42)
df.shape

(1000, 2)

In [ ]:
#DATA CLEANING
#keeping all letters and digits lowercase
#stemming
#tokenization
#removing stopwords

In [113]:
import re
import nltk
from nltk.corpus import stopwords

# Download necessary resources if not already done
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [38]:
ps=PorterStemmer()

In [115]:
# defining the cleaning function
def cleaning(txt):
    cleaned_txt = re.sub(r'[^a-zA-Z0-9\s]', '', txt)
    tokens = nltk.word_tokenize(cleaned_txt.lower())
    return tokens

In [119]:
#tokenizing and removing stopwords
def remove_stopwords(tokens):
    return [word for word in tokens if word not in stopwords.words('english')]

In [127]:
# example input text
text = 'this is my book with 987 digits and \n\n\r &^%) use this'
#clean and tokenize the text
cleaned_text=cleaning(text)
#remove stopwords  from the tokens
tokens_without_stopwords=remove_stopwords(cleaned_text)
#display the result
print(tokens_without_stopwords)

['book', '987', 'digits', 'use']

In [145]:

#  Creating the DataFrame
job_df = pd.DataFrame(data)


#  Applying the Cleaning Process
job_df['Job.Description'] = job_df['Job.Description'].astype(str).apply(lambda x: cleaning(x))
job_df['Title'] = job_df['Title'].astype(str).apply(lambda x: cleaning(x))
job_df['Position'] = job_df['Position'].astype(str).apply(lambda x: cleaning(x))

# Display the cleaned DataFrame
print(job_df)

                                     Job.Description                 Title  \
0  [looking, for, a, software, engineer, with, ex...  [software, engineer]
1  [data, scientist, needed, for, analyzing, data...     [data, scientist]
2  [project, manager, with, excellent, communicat...    [project, manager]
3  [internship, available, no, experience, requir...              [intern]

       Position
0    [fulltime]
1    [fulltime]
2    [parttime]
3  [internship]

In [158]:
job_df['clean_text'] = job_df['Job.Description'].fillna("").astype(str) + " " + job_df['Title'].fillna("").astype(str) + " " + job_df['Position'].fillna("").astype(str)

In [ ]:
#VECTORIZATION

In [162]:
# Create a new column by concatenating Title and Job.Description with ' -- ' as a separator
df['new_col'] = df['Title'].fillna('') + ' -- ' + df['Job.Description'].fillna('')

In [164]:
df.head(3)

,Title,Job.Description,new_col
14108,Business Analyst - Asset Manager @ Accountemps,Ref ID:03920-107521Classification:Fin. Systems...,Business Analyst - Asset Manager @ Accountemps...
881,- Retail Cosmetics Sales - Counter Manager Ben...,Overview:\r\nWith a role as a Counter Manager ...,- Retail Cosmetics Sales - Counter Manager Ben...
76953,Administrative Assistant @ OfficeTeam,Ref ID: 03080-111350Classification: Secretary/...,Administrative Assistant @ OfficeTeam -- Ref I...

In [178]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

# to viewthe shape  of the resulting matrix
print("shape of TF-IDF matrix" , matrix.shape)
# If you want to see the dense representation
dense_matrix=matrix.todense()
print(dense_matrix)

shape of TF-IDF matrix (4, 25)
[[0.         0.         0.         0.         0.57158758 0.
  0.         0.22532311 0.22532311 0.         0.         0.28579379
  0.         0.28579379 0.         0.         0.         0.
  0.28579379 0.         0.         0.         0.57158758 0.
  0.        ]
 [0.23258097 0.         0.         0.6977429  0.         0.
  0.         0.         0.18336951 0.         0.         0.
  0.         0.         0.         0.18336951 0.         0.
  0.         0.18336951 0.46516193 0.18336951 0.         0.23258097
  0.23258097]
 [0.         0.         0.28579379 0.         0.         0.
  0.28579379 0.         0.         0.         0.         0.
  0.         0.         0.57158758 0.22532311 0.28579379 0.57158758
  0.         0.         0.         0.22532311 0.         0.
  0.        ]
 [0.         0.32891916 0.         0.         0.         0.32891916
  0.         0.25932364 0.         0.32891916 0.65783832 0.
  0.32891916 0.         0.         0.         0.         0.
  0.         0.25932364 0.         0.         0.         0.
  0.        ]]

In [182]:
# Cell: Importing the necessary library
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Create the TfidfVectorizer instance with English stop words
tfidf = TfidfVectorizer(stop_words='english')

# Fit and transform the clean_text column to create the TF-IDF matrix
matrix = tfidf.fit_transform(job_df['clean_text'])

# Compute the cosine similarity matrix
similarity = cosine_similarity(matrix)

# Display the shape of the similarity matrix
print("Shape of Cosine Similarity Matrix:", similarity.shape)

# If you want to view the cosine similarity matrix
print(similarity)

Shape of Cosine Similarity Matrix: (4, 4)
[[1.         0.04131739 0.         0.05843161]
 [0.04131739 1.         0.08263477 0.04755205]
 [0.         0.08263477 1.         0.        ]
 [0.05843161 0.04755205 0.         1.        ]]

In [184]:
similarity[0]

array([1.        , 0.04131739, 0.        , 0.05843161])

In [186]:
#Recommendation system
def recommend(title):

        indx = job_df[job_df['Title'] == title].index[0]
        indx = job_df.index.get_loc(indx)
        distances = sorted(list(enumerate(similarity[indx])), key=lambda x: x[1], reverse=True)[1:20]

        jobs = []
        for i in distances:
            jobs.append(job_df.iloc[i[0]].Title)
        return jobs

In [194]:
# Recommendation system with error handling
def recommend(title):
    # Check if the title exists in the DataFrame
    if title not in job_df['Title'].values:
        return f"Title '{title}' not found in job listings."

    # Get the index of the job title
    indx = job_df[job_df['Title'] == title].index[0]
    
    # Get the location of the index in the similarity matrix
    indx = job_df.index.get_loc(indx)
    
    # Calculate the distances and sort them
    distances = sorted(list(enumerate(similarity[indx])), key=lambda x: x[1], reverse=True)[1:20]

    # Gather recommended job titles
    jobs = []
    for i in distances:
        jobs.append(job_df.iloc[i[0]].Title)

    return jobs

In [196]:
# Call the recommend function with an existing title
print(recommend('Software Engineer'))  # Example of an existing title

# Call the recommend function with a title that may not exist
print(recommend('site director knowledg univers'))  # Should give a not found message if it doesn't exist

Title 'Software Engineer' not found in job listings.
Title 'site director knowledg univers' not found in job listings.

In [202]:
import pandas as pd
import numpy as np
import pickle

# Ensure job_df and similarity exist and are valid
try:
    # Check if job_df is a DataFrame and similarity is a numpy array or similar
    if isinstance(job_df, pd.DataFrame) and isinstance(similarity, (np.ndarray, np.generic)):
        # Convert similarity to dense format if it's a sparse matrix
        if hasattr(similarity, 'toarray'):
            similarity = similarity.toarray()

        # Saving the DataFrame
        with open('df.pkl', 'wb') as df_file:
            pickle.dump(job_df, df_file)

        # Saving the similarity matrix
        with open('similarity.pkl', 'wb') as sim_file:
            pickle.dump(similarity, sim_file)

        print("DataFrame and similarity matrix saved successfully.")
    else:
        print("Error: job_df must be a DataFrame and similarity must be a numpy array.")
except Exception as e:
    print(f"An error occurred: {e}")

DataFrame and similarity matrix saved successfully.

In [204]:
import pandas as pd
print(pd.__version__)

2.2.2

In [206]:
import streamlit as st
import pandas as pd
import pickle

# Load the data
df = pickle.load(open('df.pkl', 'rb'))
similarity = pickle.load(open('similarity.pkl', 'rb'))

# Ensure no NaN values and the correct data type
df['Title'] = df['Title'].astype(str)
df = df.dropna(subset=['Title'])

def recommendation(title):
    # Check if the title exists in the DataFrame
    if title not in df['Title'].values:
        st.error("The selected job title does not exist in the dataset.")
        return []
    
    idx = df[df['Title'] == title].index[0]
    idx = df.index.get_loc(idx)
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])[1:20]

    jobs = []
    for i in distances:
        jobs.append(df.iloc[i[0]].Title)

    return jobs

# Web app
st.title('Job Recommendation System')
title = st.selectbox('Search job', df['Title'])

jobs = recommendation(title)

if jobs:
    st.write(jobs)

2024-10-23 00:18:05.405
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run E:\anaconda\New folder\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]